# Builds, tests the project with Gradle and uploads to Modrinth
name: CI Tests & Publish

on:
  push:
    branches: [ 'master' ]
    paths-ignore:
      - 'docs/**'
      - 'workflows/**'
      - 'README.md'

permissions:
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
      - name: Query Version
        run: |
          echo "::set-output name=VERSION_NAME::$(${{github.workspace}}/gradlew properties --no-daemon --console=plain -q | grep "^version:" | awk '{printf $2}')"
        id: fetch-version
      - name: Get Version
        run: |
          echo "version_name=${{steps.fetch-version.outputs.VERSION_NAME}}" >> $GITHUB_ENV
      - name: Upload to Modrinth & Hangar (Spigot)
        uses: WiIIiam278/mc-publish@hangar
        with:
          modrinth-id: J6U9o3JG
          modrinth-featured: false
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-dependencies: |
            bluemap | suggests | *
            dynmap | suggests | *
            pl3xmap | suggests | *
            plan-player-analytics | suggests | *
          hangar-id: William278/HuskHomes
          hangar-token: ${{ secrets.HANGAR_API_KEY }}
          hangar-version-type: Alpha
          files-primary: target/HuskHomes-Plugin-*.jar
          name: HuskHomes (Spigot) v${{ env.version_name }}
          version: ${{ env.version_name }}
          version-type: alpha
          changelog: ${{ github.event.head_commit.message }}
          loaders: |
            spigot
            paper
            purpur
            folia
          game-versions: |
            1.16.5
            1.17.1
            1.18.2
            1.19.4
          java: 16
      - name: Upload to Modrinth (Sponge)
        uses: WiIIiam278/mc-publish@hangar
        with:
          modrinth-id: J6U9o3JG
          modrinth-featured: false
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-dependencies: |
            bluemap | suggests | *
            plan | suggests | *
          files-primary: target/HuskHomes-Sponge-*.jar
          name: HuskHomes (Sponge) v${{ env.version_name }}
          version: ${{ env.version_name }}
          version-type: alpha
          changelog: ${{ github.event.head_commit.message }}
          loaders: |
            sponge
          game-versions: |
            1.16.5
            1.17.1
            1.18.2
            1.19.4
          java: 16
      - name: Upload to Modrinth & CurseForge (Fabric)
        uses: WiIIiam278/mc-publish@hangar
        with:
          modrinth-id: J6U9o3JG
          modrinth-featured: false
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: 849217
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          dependencies: |
            fabric-api | requires | *
            bluemap | suggests | *
            dynmap | suggests | *
            plan-player-analytics | suggests | *
            luckperms | suggests | *
          files-primary: target/HuskHomes-Fabric-*.jar
          name: HuskHomes (Fabric) v${{ env.version_name }}
          version: ${{ env.version_name }}
          version-type: alpha
          changelog: ${{ github.event.head_commit.message }}
          loaders: |
            fabric
          game-versions: |
            1.19.4
          java: 17
      - name: Upload GitHub Artifact (Spigot)
        uses: actions/upload-artifact@v2
        with:
          name: HuskHomes (Spigot)
          path: target/HuskHomes-Plugin-*.jar
      - name: Upload GitHub Artifact (Sponge)
        uses: actions/upload-artifact@v2
        with:
          name: HuskHomes (Sponge)
          path: target/HuskHomes-Sponge-*.jar
      - name: Upload GitHub Artifact (Fabric)
        uses: actions/upload-artifact@v2
        with:
          name: HuskHomes (Fabric)
          path: target/HuskHomes-Fabric-*.jar